<div class="page-header">
  <h1>
    Dishes
  </h1>
</div>

<div class="row mb-1">
  <div class="col-md-3">
    <%= search_form_for @q, :class => "collapse", :id => "dishes_filters" do |f| %>
      <p class="lead">Narrow results:</p>

    <div class="form-group">
    <%= f.label :name_cont, "Name contains" %>
    <%= f.text_field :name_cont, :class => "form-control", :placeholder => "Name contains" %>
  </div>

    <div class="form-group">
        <%= f.label :cuisine_id_eq, "Cuisine" %>  
          <% Cuisine.all.each do |cuisine| %>
            <p>
          <label> <%= check_box_tag('q[cuisine_id_eq_any][]', cuisine.id ) %>
           <%= cuisine.name %> </label>
          <% end %>
          </p>
    </div>

      <%= f.submit :class => "btn btn-primary btn-block mb-1" %>

      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
    <% end %>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>




  <div class="col-md-6">
    <table class="table table-striped table-hover">
      <tr>
        <th>The very best...</th>
        <th>is at...</th>
       
        <th>Cuisine</th>
      </tr>

      <% @dishes.each do |dish| %>
      <tr>
        <td>
          <a href = "/dishes/<%=dish.id%>" >
          <%= dish.name %>
          </a>
        </td>

        <td>
          <% Bookmark.where(:user_id => current_user.id).each do |bookmark|  %>
              <% if bookmark.dish.id == dish.id %>
                <a href = "/venues/<%=bookmark.venue.id%>" >
                  <%=bookmark.venue.name%>
                </a>
              <%end %>
            <%end%>   
            <% if Bookmark.where(:user_id => current_user.id, :dish_id => dish.id).count == 0 %>
             <form action="/create_bookmark" class="form-inline" >
                <input type="hidden" name="user_id" value="<%= current_user.id %>">
                <input type="hidden" name="dish_id" value="<%= dish.id %>">
                
                <div class="form-group">
                    <%= select_tag("venue_id", options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
              </div>
              <button class="btn btn-group btn-primary btn-primary-small float-right">
                    <i class ="fa fa-heart float-right"></i>
              </button>
            </form>
  
          <% end %>
        </td>
        
        <td>
          <% if dish.cuisine.present? %>
            <a href="/cuisines/<%= dish.cuisine.id %>">
              <%= dish.cuisine.name %>
            </a>
          <% end %>
        </td>
      </tr>
      <% end %>
    </table>
    <%= paginate @dishes, theme: 'twitter-bootstrap-4' %>
  </div>

<div class="col-md-3">
  <a href="/venues/new" class="btn btn-secondary btn-success">Add a new venue</a>
</div>


</div>

