<div class="container mt-4">


  <div class="row  mt-2 mb-1 justify-content-md-center">
    <div class="col-md-6 ">
      <div class="card-header">
       
          <h3>You Loved the <%= @dish.name %> at...
          
              <div class="badge badge-primary float-right">
              <% if @dish.cuisine.present? %>
                    
                      <%= @dish.cuisine.name %>
                    </a>
                  <% end %>
              </div>
           
        </h3>
      </div>
    </div>
  </div>
  
  
<div class="row  mt-2 mb-1 justify-content-md-center">
  <div class="col-md-6 "> 
  <li class="list-group-item">
  
        <form action="/create_bookmark" class="form-inline" method="post">
  
        <!-- Hidden input for authenticity token to protect from forgery -->
        <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
  
        <!-- Label and input for dish_id -->
        <input type="hidden" name="dish_id" value="<%= @dish.id %>">
  
        <!-- Label and input for venue_id -->
        <div class="form-control-sm">
          <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
        </div>
        
        <button class="btn btn-primary btn-group float-right">
          <i class="fa fa-heart ">
                  </i>
        </button>
        <!-- Label and input for user_id -->
        <input type="hidden" name="user_id" value="<%= current_user.id %>">
  
        <!-- Label and input for notes -->
        <div class="form-group">
          
  
          <input type="hidden" name="notes" placeholder="Notes" class="form-control" rows="3"></textarea>
        </div>
  
        
      </form>
        </li>
  <!-- A Dish has many bookmarks -->
  
  <div class="row">
    <div class="col-md-12">
        <p>
      <ul class="list-group">
     
        <% @dish.bookmarks.where(:user_id => current_user.id).each do |bookmark| %>
          <li class="list-group-item">
            <a href="/bookmarks/<%= bookmark.id %>">
              <%= bookmark.venue.name %>
            </a>
            <div class="btn-group btn-group-xs float-right">
             
              <a href="/bookmarks/<%= bookmark.id %>/edit" >
                <i class="fa fa-fw fa-edit"></i>
              </a>
              <a href="/delete_bookmark/<%= bookmark.id %>" rel="nofollow">
                <i class="fa fa-fw fa-trash-o"></i>
              </a>
            </div>
          </li>
          </p>
        <% end %>
        
        <div class="btn btn-secondary btn-lg btn-block">
        <a href="/dishes" class="btn btn-secondary">
          <i class="fa fa-chevron-left"></i></i>
        </a>
       
        </a>
      </div>
  
        
      </ul>
    </div>
  </div>
  
 
  
<!-- A Dish has many fans -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Fans
      </li>

      <% @dish.fans.each do |user| %>
        <li class="list-group-item">
          <a href="/users/<%= user.id %>">
            <%= user.username %>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<!-- A Dish has many specialists -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Specialists
      </li>

      <% @dish.specialists.each do |venue| %>
        <li class="list-group-item">
          <a href="/venues/<%= venue.id %>">
           <p><%= venue.name %></p>
          </a>
        </li>
      <% end %>
    </ul>
  </div>
</div>

</div> 
